<?xml version="1.0"?>
<!--
  Universal robot ur5 launch. Wraps ur5_bringup.launch. Uses the 'limited'
  joint range [-PI, PI] on all joints.

  Usage:
    ur5_bringup_joint_limited.launch robot_ip:=<value>
-->
<launch>

  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="force_sensor" default="true"/>
  <arg name="gripper" default="true"/>
  <arg name="max_force_dev" default="7.0"/>
  <arg name="robot_ip"/>
  <arg name="limited" default="true"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="5.0"/>
  <arg name="prefix" default="" />
  <!-- robot model -->
  <include file="$(find ur_description)/launch/ur5_robotiq85_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- ur common -->
  <include file="$(find ur_modern_driver)/launch/ur_common.launch">
    <arg name="prefix"  value="$(arg prefix)" />
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="max_force_dev" value="$(arg max_force_dev)"/>
  </include>

  <group if="$(arg force_sensor)">
    <include file="$(find robotiq_force_torque_sensor)/launch/force_torque_sensor.launch"/>
  </group>

  <group if="$(arg gripper)">
    <include file="$(find robotiq_85_bringup)/launch/robotiq_85.launch">
      <arg name="prefix" value="$(arg prefix)"/>
    </include>
  </group>

</launch>
